<!DOCTYPE html>
<html lang="en">
{% seo %}
{%- include head.html -%}

<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script type="text/javascript">
    window.MathJax = { tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] } }
</script>

<script src="/helpers/lite-yt-embed.js"></script>

<link rel="stylesheet" href="/helpers/lite-yt-embed.css" />

<body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {%- include footer.html -%}
</body>

</html>